@import'price-card.scss';
@import'_typography.scss';
@import'_variables.scss';
.page {
  display: flex;
  margin: 0;
   background-color: #141b1c;
    padding: 115px 0;
}
.container {
  margin: auto;

  display: flex;
}