.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141b1c;
}

.price-card {
  position: relative;
  width: 380px;
  background: #334247;
  overflow: hidden;

  padding: 33px 0 40px;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    text-align: center;
    font-size: 35px;
    line-height: 43px;
    margin: 0;
  }

  &__subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 33px;
  }

  &__price {
    text-align: center;
    font-size: 55px;
    line-height: 67px;

    padding: 19px 110px;
    margin-bottom: 40px;

    &-basic {
      background: $greenColor;
    }

    &-business {
      background: $blueColor;
    }

    &-webshop {
      background: $orangeColor;
    }
  }

  &__description {
    text-align: center;
    font-weight: 300;
    margin:0 26px 40px 26px;
  }

  &__options-list {
    list-style: none;
    padding: 0;
    margin: 0 0 39px;

    & :nth-child(odd) {
      background-color: #2A3438;
    }
  }

  &__options-list-item {
    font-weight: 300;
    padding: 16px 0;
  }

  &__icon {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: 0 22px;

    &-basic {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }

    &-business {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }

    &-webshop {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }

  &__button {
    &-basic {
      background: $greenColor;
    }

    &-business {
      background: $blueColor;
    }

    &-webshop {
      background: $orangeColor;
    }
  }

  &__ribbon {
    position: absolute;
    display: block;

    text-align: center;
    right: -40px;
    top: 34px;
    transform: rotate(45deg);

    background-color: #DC3F45;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    padding: 2px 50px;
  }
}

.button {
  display: block;
  width: 155px;
  height: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  border: none;
  border-radius: 20px;
  text-transform: uppercase;

  margin: 0 auto;
}